<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISA dasboard</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body class="bg">
    <div class="weatherdiv">
        <img class="cloud" src="cloudy.svg">
        <h1 class="weather", id="weather">
    </div>
    <h1 class="Front">ISA</h1>
    <div class="demo">
        <h2>Temperature</h2>
        <h1 id="title">19°</h1>
        <h2>Humidity</h2>
        <h1 id="title2">Humidity</h1>
    </div>
    <h3 class="stateMsg", id="stateMsg"></h3>
</body>
</html>
