@font-face {
    font-family: "Quantum";
    src: url('Fonts/QuantumRegular.eot'); /* IE9 Compat Modes */
    src: url('Fonts/QuantumRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Fonts/QuantumRegular.woff') format('woff'), /* Modern Browsers */
         url('Fonts/QuantumRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('Fonts/QuantumRegular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: "Azonix";
    src: url('Fonts/AzonixRegular.eot'); /* IE9 Compat Modes */
    src: url('Fonts/AzonixRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Fonts/AzonixRegular.woff') format('woff'), /* Modern Browsers */
         url('Fonts/AzonixRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('Fonts/AzonixRegular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.bg{
    background-image:url("blurry-gradient-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.weatherdiv{
    position: absolute;
    top: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.cloud{
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
.weather{
    margin: 0px;
    padding: 0px;
    border: 0px; 
    text-align: center;
    color: white;
    font-family: "Azonix";
    font-size: 24px;
}
.Front{
    text-align: center;
    color: white;
    font-family: "Azonix";
    font-weight:550;
    font-size: 72px;
}
.demo{
    margin: 0;
    position: absolute;
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("IMG_0534.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 50%;
    border-radius: 10%;
    text-align: center;
    align-items: center;
    font-family: "Azonix";
}
.stateMsg{
    font-family: "Azonix";
    color:blue;
    margin: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}