
<div id="demo">
<h1 id="title">The XMLHttpRequest Object</h1>
<h1 id="title2">The XMLHttpRequest Object</h1>
</div>

<script>
setInterval(function() {

    console.log("button clicked");
    //repeat for more data changing
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            document.getElementById("title").innerText = JSON.parse(this.responseText).temp;
        }   
    };
    xhttp.open("GET", "/data", true);
    xhttp.send();
    //up to here

    var xhttp2 = new XMLHttpRequest();
    xhttp2.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            document.getElementById("title2").innerText = JSON.parse(this.responseText).hum;
        }   
    };
    xhttp2.open("GET", "/data", true);
    xhttp2.send();
},500);
</script>