@font-face {
    font-family: 'Azonix';
    src: url('AzonixRegular.eot');
    src: url('AzonixRegular.eot?#iefix') format('embedded-opentype'),
        url('AzonixRegular.woff2') format('woff2'),
        url('AzonixRegular.woff') format('woff'),
        url('AzonixRegular.ttf') format('truetype'),
        url('AzonixRegular.svg#AzonixRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

